<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Monthly Subscription</h1>
            </div>
        </div>
        <hr>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" (click) = "changeMenu(1)">Edit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click) = "changeMenu(2)">Grid</a>
            </li>
          </ul>
        <hr>
    </div>
</section>

