<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Monthly Subscription</h1>
      </div>
    </div>
    <hr>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" (click)="changeMenu(1)">Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeMenu(2)">Grid</a>
      </li>
    </ul>
    <hr>
  </div>
</section>


<section class="content edit" *ngIf="EDIT_FLAG">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">
        <!-- Form Generate Monthly Subscrition -->
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Generate Monthly Subscrition</h3>
          </div>
          <form [formGroup]="generateMSForm" (ngSubmit)="GenerateMS()">
            <div class="card-body">
              <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control form-control-sm" id="date" placeholder="Date" formControlName="date" />
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!generateMSForm.valid">
                Submit
              </button>
            </div>
          </form>
        </div>
        <!-- !Form Generate Monthly Subscrition -->

        <!-- Form Approve -->
        <div class="card card-info" *ngIf="tableMatches !== undefined">
          <div class="card-header">
            <h3 class="card-title">Generated Matches</h3>
          </div>
          <div class="card-body">
            <app-table [data] = "tableMatches.Matches"></app-table>
            <hr />
            <p>Total odd: {{tableMatches.TotalOdd}}</p>
            <button type="button" class="btn btn-primary" (click)="Approve()">Approve</button>
          </div>
        </div>
        <!-- !Form Approve -->
      </div>

      <div class="col-md-6">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Upload Monthly Subscription</h3>
          </div>
          <form [formGroup]="createUpdate" (ngSubmit)="EditDatabase()">
            <input type="hidden" class="form-control form-control-sm" id="Id" placeholder="Id" formControlName = "Id"/>
            <div class="card-body">
              <div class="form-group">
                <label for="Date">Date</label>
                <input type="date" class="form-control form-control-sm" id="Date" placeholder="Date" formControlName = "Date"/>
              </div>
              <div class="form-group">
                <label for="Match">Match</label>
                <input type="text" class="form-control form-control-sm" id="Match" placeholder="Match" formControlName = "Match"/>
              </div>
              <div class="form-group">
                <label for="tip">Tip</label>
                <input type="text" class="form-control form-control-sm" id="Tip" placeholder="Tip" formControlName = "Tip"/>
              </div>
              <div class="form-group">
                <label for="Odd">Odd</label>
                <input type="text" class="form-control form-control-sm" id="Odd" placeholder="Odd" formControlName = "Odd"/>
              </div>
              <div class="form-group">
                <label for="Result">Result</label>
                <input type="text" class="form-control form-control-sm" id="Result" placeholder="Result" formControlName = "Result"/>
              </div>
              <div class="form-group">
                <label for="Result">Description</label>
                <input type="text" class="form-control form-control-sm" id="Description" placeholder="Description" formControlName = "Description"/>
              </div>
              <div class="form-group">
                <label for="WinLose">WinLose</label>
                <input type="text" class="form-control form-control-sm" id="WinLose" placeholder="WinLose" formControlName = "WinLose"/>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!createUpdate.valid">Submit</button>
            </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>
</section>

<section class="content grid" *ngIf="GRID_FLAG">
  <app-grid (edit)="edit($event)" (delete)="delete($event)" [data]="gridData" ></app-grid>
</section>