<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Free Tips</h1>
      </div>
    </div>
    <hr>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" (click)="changeMenu(1)">Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeMenu(2)">Grid</a>
      </li>
    </ul>
    <hr>
  </div>
</section>


<!-- Edit content -->
<section class="content edit" *ngIf="EDIT_FLAG">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <!-- Get Matches for Date -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Get Matches for Date</h3>
          </div>
          <form [formGroup]="generateVipTicketForm" (ngSubmit)="GenerateVipTicketSubmit()">
            <div class="card-body">
              <div class="form-group">
                <label for="generateVipTicketDate">Date</label>
                <input type="date" class="form-control" id="generateVipTicketDate" placeholder="Date"
                  formControlName="generateVipTicketDate" />
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!generateVipTicketForm.valid">
                Submit
              </button>
            </div>
          </form>
        </div>
        <!-- !Get Matches for Date -->
      </div>


      <div class="col-md-6">
        <div class="container">
          <!-- <app-grid (multipleLogic)="multipleLogic($event)" [data]="gridData" ></app-grid> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- !Edit content -->